
<div class="container border card mt-5">
    <h3 class="d-flex justify-content-center">Application For {{data}} </h3>
<form>
    <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4"><h4>Enter the amount you want to borrow  </h4></label>
          <input type="number" class="form-control" id="inputEmail4" placeholder="Amount">
        </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4"><h4>First Name</h4></label>
        <input type="text" class="form-control" id="inputEmail4" placeholder="First Name">
      </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4"><h4>Last Name</h4></label>
          <input type="text" class="form-control" id="inputEmail4" placeholder="Last Name">
        </div>
    </div>

        <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputEmail4"><h4>Father's Name</h4></label>
              <input type="text" class="form-control" id="inputEmail4" placeholder="Father's Name">
            </div>
        </div>

 
    <div class="form-group">
      <label for="inputAddress"><h4>Address</h4></label>
      <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
    </div>
  
    <!-- <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity"><h4>City</h4></label>
        <input type="text" class="form-control" id="inputCity" placeholder="Delhi">
      </div> -->
     
    


    <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4"><h4>Your Monthly Salary </h4></label>
          <input type="number" class="form-control" id="inputsal" name="inputsal" placeholder="Amount">
        </div>
    </div>
    
    <button  (click)="showResult()" type="submit" class="btn btn-primary ml-5 d-flex justify-content-center"><h4> Apply For your {{data}} </h4></button>

  </form>

  </div>
