

<div class="d-flex justify-content-center">
<div   class="btn-group ">
<button (click)="gotoHomeLoan()" class="btn btn-primary border "><h3>Home Loan</h3></button>
<button (click)="gotoPersonalLoan()" class="btn btn-info border"><h3>Personal Loan</h3></button>
<button (click)="gotoCarLoan()" class="btn btn-primary border"><h3>Car Loan</h3></button>
<button (click)="gotoEducationLoan()" class="btn btn-info border"><h3>Education Loan</h3></button>

</div>
</div>


<router-outlet></router-outlet>